<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">
    <!--script src="{{ url_for('static', filename='js/test.js') }}"></script-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="formu" id = "cuestionario">
        <div id="enu">
					<h3 id = "enunciado"> ¿QUIENE ES EL GOD?</h3>
        </div>
        <div class="options">
            <div class="buttons" id  = "buttons">
                <button id = "uno" onclick = "reconocer(0)">MESSI</button>
                <button id = "dos" onclick = "reconocer(1)">PELE</button>
                <button id = "tres" onclick = "reconocer(2)">CR7</button>
                <button id = "cuatro" onclick = "reconocer(3)">MARADONA</button>
            </div>
        </div> 
    </div>
    <div class = "progreso" id="progreso">
        <div class = "circular">
            <span id = "progress">0%</span>
        </div>    
        <a href="./"><i class="fa-solid fa-house-chimney"></i></a>
    </div>
</body>
<script>
    var aciertos = 0;
    var enunciado = document.getElementById("enunciado");
    var number = -1;
    var alternativas = ["uno", "dos", "tres", "cuatro"];
    var preguntas = {{preguntas | tojson | safe}};
    question();
    // Definir la función question
    function question() {
        number++;        
        enunciado.textContent = preguntas[number].pregunta;
        for (let i = 0; i < alternativas.length; i++) {
            let button = document.getElementById(alternativas[i]);
            if(preguntas[number].alternativas[i] == undefined)
                button.textContent = "Ninguna de las Anteriores";
            else
                button.textContent = preguntas[number].alternativas[i];
        }
    }
    function progresst(){
        let cir = document.querySelector(".circular"), progress = document.querySelector("#progress");
        let progressstart = 0, progressend = Math.round((aciertos/10)*100), speed = 10;
        console.log(progressend);
        let progressA = setInterval(() => {

            if(progressstart == progressend)
              clearInterval(progressA);
            else
              progressstart ++;
            progress.textContent = `${progressstart}%`
            cir.style.background = `conic-gradient(#2a83e8 ${progressstart*3.6}deg, #e3e3e3 0deg)`

            
        }, speed); 
    }
function reconocer(eleccion) {
    console.log(preguntas[number].alternativaCorrecta);
    if (document.getElementById(alternativas[eleccion]).textContent == preguntas[number].alternativaCorrecta)
            aciertos++;
    console.log(aciertos);

    if(number == 9){
        let cue = document.getElementById("cuestionario");
        let con = document.getElementById("progreso");
        con.style.display = "flex";
        cue.style.display = "none";
        progresst();
    }
    else
        question();     
}
    window.reconocer = reconocer;

</script>
</html>
