<html>
	<head>
		<title>TEST::ARQUITECTURA DE COMPUTADORAS</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">

	</head>
	<body>
		<h1>MESSI GOD</h1>
		<div id="menu">
			<div id="test">
				<a href="./examen">
					<div class= "but">
						<img src="{{url_for('static', filename="img/Test.png")}}">
					</div>
				</a>
			</div>
			<div id="profile">
				<a href="./Puzzle">
					<div class = "but">
						<img src="{{url_for('static', filename="img/Usuario.png")}}">
					</div>
				</a>
			</div>
		</div>
	</body>
</html>
